<div class="header-container">
    <div class="header-left">
        <!-- Static Back Button -->
        <div class="header-item">
            @if(!true){ @if(('DIR'|translate) == 'rtl'){
            <a (click)="goBack()">
                <img src="arrow-left-dark.svg" alt="arrow" class="rotate-180" />
            </a>
            }@else {
            <a (click)="goBack()">
                <img src="arrow-left-dark.svg" alt="arrow" />
            </a>
            } }
        </div>
        <h1 class="page-title" [title]="title">{{ title | translate }}</h1>
    </div>

    <div class="header-right">
        <!-- Dropdown with overlay icon -->
        <!-- <div class="header-item">
            <p-popover #filterContent (onHide)="refreshClasses()">
                <div class="filter-overlay-content">
                    <div class="filter-overlay-header">
                        <h3 class="filter-overlay-title">
                            {{ "CHOOSE_PROPERTIES" | translate }}
                        </h3>
                        <button class="filter-overlay-close" (click)="filterContent.toggle($event)">
                            <img src="icon-green-close.svg" alt="close" />
                        </button>
                    </div>

                    <div class="filter-divider"></div>

                    <div class="filter-sections">
                        <div class="filter-section">
                            <div class="filter-section-header" (click)="
                  SubjectExpanded = !SubjectExpanded;
                  GradesExpanded = false;
                  sectionExpanded = false
                ">
                                <span class="filter-section-title">{{
                                    "SUBJECTS" | translate
                                    }}</span>
                                <img [src]="
                    SubjectExpanded
                      ? 'arrow-green-up.svg'
                      : 'arrow-green-down.svg'
                  " alt="arrow" />
                            </div>

                            <div class="filter-section-content" *ngIf="SubjectExpanded">
                                <div class="filter-section-content" *ngIf="SubjectExpanded">
                                    @for (Subject of classesData.subjects; track $index) {
                                    <div class="filter-option" (click)="
                      selectedItem(Subject.subjectId, 'classesEnum.subject');
                      SubjectExpanded = false;
                      GradesExpanded = true;
                      sectionExpanded = false
                    ">
                                        <div class="custom-checkbox" [ngClass]="
                        Subject.subjectId === selectedSubjectId
                          ? 'selected'
                          : ''
                      ">
                                            <img [src]="
                          Subject.subjectId === selectedSubjectId
                            ? 'icon-tick.svg'
                            : 'icon-tick-empty.svg'
                        " />
                                        </div>
                                        <label class="filter-option-label">{{
                                            Subject.name
                                            }}</label>
                                    </div>
                                    }
                                </div>
                            </div>

                            <div class="filter-divider"></div>
                        </div>
                    </div>

                    <div class="filter-sections">
                        <div class="filter-section">
                            <div class="filter-section-header" (click)="
                  GradesExpanded = !GradesExpanded;
                  sectionExpanded = false;
                  SubjectExpanded = false
                ">
                                <span class="filter-section-title">{{
                                    "GRADES" | translate
                                    }}</span>
                                <img [src]="
                    GradesExpanded
                      ? 'arrow-green-up.svg'
                      : 'arrow-green-down.svg'
                  " alt="arrow" />
                            </div>

                            <div class="filter-section-content" *ngIf="GradesExpanded">
                                <div class="filter-section-content" *ngIf="GradesExpanded">
                                    @for (grade of classesData.grades; track $index) {
                                    <div class="filter-option" (click)="
                      selectedItem(grade.gradeId, 'classesEnum.grade');
                      SubjectExpanded = false;
                      GradesExpanded = false;
                      sectionExpanded = true
                    ">
                                        <div class="custom-checkbox" [ngClass]="
                        grade.gradeId === selectedGradeId ? 'selected' : ''
                      ">
                                            <img [src]="
                          grade.gradeId === selectedGradeId
                            ? 'icon-tick.svg'
                            : 'icon-tick-empty.svg'
                        " />
                                        </div>
                                        <label class="filter-option-label">{{ grade.name }}</label>
                                    </div>
                                    }
                                </div>
                            </div>

                            <div class="filter-divider"></div>
                        </div>
                    </div>

                    <div class="filter-sections">
                        <div class="filter-section">
                            <div class="filter-section-header" (click)="
                  sectionExpanded = !sectionExpanded;
                  GradesExpanded = false;
                  SubjectExpanded = false
                ">
                                <span class="filter-section-title">{{
                                    "SECTIONS" | translate
                                    }}</span>
                                <img [src]="
                    sectionExpanded
                      ? 'arrow-green-up.svg'
                      : 'arrow-green-down.svg'
                  " alt="arrow" />
                            </div>

                            <div class="filter-section-content" *ngIf="sectionExpanded">
                                <div class="filter-section-content" *ngIf="sectionExpanded">
                                    @for (section of classesData.courseSections; track $index) {
                                    <div class="filter-option" (click)="
                      selectedItem(section.courseSectionId, 'classesEnum.section')
                    ">
                                        <div class="custom-checkbox" [ngClass]="
                        section.courseSectionId === selectedSectionId
                          ? 'selected'
                          : ''
                      ">
                                            <img [src]="
                          section.courseSectionId === selectedSectionId
                            ? 'icon-tick.svg'
                            : 'icon-tick-empty.svg'
                        " />
                                        </div>
                                        <label class="filter-option-label">{{
                                            section.name
                                            }}</label>
                                    </div>
                                    }
                                </div>
                            </div>

                            <div class="filter-divider"></div>
                        </div>
                    </div>

                    <div class="filter-actions">
                        <div></div>
                        <button type="button" class="filter-btn filter-btn-apply" (click)="applyFilter($event)">
                            {{ "APPLY" | translate }}
                        </button>
                    </div>
                </div>
            </p-popover>
            <button #filterBtn pButton type="button" class="p-button-text filter-button" (click)="
          filterContent.toggle($event);
          sectionExpanded = true;
          GradesExpanded = false;
          SubjectExpanded = false
        ">
                <span class="button-label">{{ displayFilter | translate }}</span>
                <img src="arrow-green-down.svg" alt="filter icon" class="custom-filter-icon" />
            </button>
        </div> -->

        <!-- Setting Icon -->
        <div class="header-item setting-icon">
            <img src="icon-settings.svg" alt="settings" />
        </div>

        <!-- Notification Icon -->
        <div class="header-item notification-icon">
            <img src="icon-bell.svg" alt="bell" />
        </div>

        <!-- User Profile -->
        <div class="header-item user-profile">
            <a type="button" (click)="userMenu.toggle($event)">
                <div class="user-info">
                    <!-- User Avatar Section -->
                    <div class="user-avatar">
                        <span class="user-initials">{{ userInitials }}</span>
                    </div>
                    <!-- User Details Section -->
                    <div class="user-details">
                        <span class="user-name">{{ userName }}</span>
                        <span class="user-role">{{ "ROLE_TEACHER" | translate }}</span>
                    </div>
                    <!-- Arrow Icon to Show Menu -->
                    <img src="arrow-gray-down.svg" alt="arrow" />
                </div>
            </a>
        </div>

        <!-- Menu Component (PrimeNG) -->
        <p-menu #userMenu [model]="userMenuItems" [popup]="true"></p-menu>
    </div>
</div>  