<div class="header-container">
    <div class="header-left">
        <!-- Static Back Button -->
        <div class="header-item">
            @if(!true){ @if(('DIR'|translate) == 'rtl'){
            <a (click)="goBack()">
                <img src="arrow-left-dark.svg" alt="arrow" class="rotate-180" />
            </a>
            }@else {
            <a (click)="goBack()">
                <img src="arrow-left-dark.svg" alt="arrow" />
            </a>
            } }
        </div>
        <!-- <h1 class="page-title" [title]="title">{{ title | translate }}</h1> -->
    </div>

    <div class="header-right">

        <!-- User Profile -->
        <div class="header-item user-profile">
            <a type="button" (click)="userMenu.toggle($event)">
                <div class="user-info">
                    <!-- User Avatar Section -->
                    <div class="user-avatar">
                        <span class="user-initials">{{ userInitials }}</span>
                    </div>
                    <!-- User Details Section -->
                    <div class="user-details">
                        <span class="user-name">{{ userName }}</span>
                        <!-- <span class="user-role">{{ "ROLE_TEACHER" | translate }}</span> -->
                    </div>
                    <!-- Arrow Icon to Show Menu -->
                    <img src="arrow-gray-down.svg" alt="arrow" />
                </div>
            </a>
        </div>

        <!-- Menu Component (PrimeNG) -->
        <p-menu #userMenu [model]="userMenuItems" [popup]="true"></p-menu>
    </div>
</div>  