<div class="card">
    <div class="card-header bg-primary text-white">
        <h4>Add Admin, Grades & Subjects</h4>
    </div>
    <div class="card-body">
            <form #adminForm="ngForm" AutoFormError (ngSubmit)="onSubmit()">
            @for (field of fields(); let i = $index; track i) {
                <div class="form-group border p-2 position-relative">

                    <div class="row my-2">

                        <div class="col-md-4">
                            <label class="text-primary" for="nameEnglishFirst{{i}}">First Name (English) <span class="text-danger">*</span></label>
                            <input type="text" class="form-control" id="nameEnglishFirst{{i}}" name="nameEnglishFirst{{i}}" [(ngModel)]="field.nameEnglishFirst" required noLeadingSpace />
                        </div>
                        <div class="col-md-4">
                            <label class="text-primary" for="nameEnglishMiddle{{i}}">Middle Name (English) <span class="text-danger">*</span></label>
                            <input type="text" class="form-control" id="nameEnglishMiddle{{i}}" name="nameEnglishMiddle{{i}}" [(ngModel)]="field.nameEnglishMiddle" required noLeadingSpace />
                        </div>
                        <div class="col-md-4">
                            <label class="text-primary" for="nameEnglishLast{{i}}">Last Name (English) <span class="text-danger">*</span></label>
                            <input type="text" class="form-control" id="nameEnglishLast{{i}}" name="nameEnglishLast{{i}}" [(ngModel)]="field.nameEnglishLast" required noLeadingSpace />
                        </div>
                    </div>
                    <div class="row my-2">
                        <div class="col-md-4">
                            <label class="text-primary" for="nameArabicFirst{{i}}">First Name (Arabic) <span class="text-danger">*</span></label>
                            <input type="text" class="form-control" id="nameArabicFirst{{i}}" name="nameArabicFirst{{i}}" [(ngModel)]="field.nameArabicFirst" required noLeadingSpace />
                        </div>
                        <div class="col-md-4">
                            <label class="text-primary" for="nameArabicMiddle{{i}}">Middle Name (Arabic) <span class="text-danger">*</span></label>
                            <input type="text" class="form-control" id="nameArabicMiddle{{i}}" name="nameArabicMiddle{{i}}" [(ngModel)]="field.nameArabicMiddle" required noLeadingSpace />
                        </div>
                        <div class="col-md-4">
                            <label class="text-primary" for="nameArabicLast{{i}}">Last Name (Arabic) <span class="text-danger">*</span></label>
                            <input type="text" class="form-control" id="nameArabicLast{{i}}" name="nameArabicLast{{i}}" [(ngModel)]="field.nameArabicLast" required noLeadingSpace />
                        </div>
                        <div class="col-md-4">  
                            <label class="text-primary" for="genderId{{i}}">Gender <span class="text-danger">*</span></label>
                            <ng-select
                                id="genderId{{i}}"
                                name="genderId{{i}}"
                                [(ngModel)]="field.genderId"
                                bindLabel="name"
                                bindValue="id"
                                [items]="[
                                    { id: 1, name: 'Male' },
                                    { id: 2, name: 'Female' }
                                ]"
                                placeholder="Select Gender"
                                required
                                ngSelectCloseOnOtherClear>
                            </ng-select>
                        </div>
                        <div class="col-md-4">
                            <label class="text-primary" for="email{{i}}">Email <span class="text-danger">*</span></label>
                            <input type="email" class="form-control" id="email{{i}}" name="email{{i}}" [(ngModel)]="field.email" required noLeadingSpace />
                        </div>
                        <div class="col-md-4">
                            <label class="text-primary" for="phoneNumber{{i}}">Phone Number <span class="text-danger">*</span></label>
                            <input type="text" class="form-control" id="phoneNumber{{i}}" name="phoneNumber{{i}}" [(ngModel)]="field.phoneNumber" required noLeadingSpace />
                        </div>
                    </div>
                    @for (gs of field.gradeSubjects; let j = $index; track $index) {
                        <div class="row my-2 align-items-center">
                            <div class="col-md-6">
                                <label class="text-primary" for="assignedGrades{{i}}-{{j}}">Assigned Grades <span class="text-danger">*</span></label>
                                <ng-select
                                    id="assignedGrades{{i}}-{{j}}"
                                    name="assignedGrades{{i}}-{{j}}"
                                    [(ngModel)]="gs.gradeId"
                                    [items]="filteredGrades()"
                                    (ngModelChange)="onGradeChange(gs.gradeId, i, j)"
                                    bindLabel="name"
                                    bindValue="id"
                                    [clearable]="false"
                                    placeholder="Select Grades"
                                    required
                                    ngSelectCloseOnOtherClear>
                                </ng-select>
                            </div>
                            <div class="col-md-6">
                                <label class="text-primary" for="assignedSubjects{{i}}-{{j}}">Assigned Subjects <span class="text-danger">*</span></label>
                                <ng-select
                                    id="assignedSubjects{{i}}-{{j}}"
                                    name="assignedSubjects{{i}}-{{j}}"
                                    [(ngModel)]="gs.subjectIds"
                                    bindLabel="name"
                                    bindValue="id"
                                    [items]="subjects()"
                                    placeholder="Select Subjects"
                                    [multiple]="true"
                                    [closeOnSelect]="false"
                                    required
                                    ngSelectCloseOnOtherClear>
                                </ng-select>
                            </div>
                        </div>
                    }
                    <div class="row mt-3">
                        <div class="col-md-6">
                            <button class="btn text-primary" type="button" (click)="addField()">Add Another Admin</button>
                        </div>
                        <div class="col-md-6 text-start">
                            @if (fields().length > 1) {
                                <button type="button" class="btn text-danger" (click)="removeField(i)" title="Delete Admin">
                                    <i class="bi bi-trash"></i> Delete Admin
                                </button>
                            }
                        </div>
                    </div>
                </div>
            }
        </form>
    </div>
</div>
